<h2>What People Say</h2>
<section #flexdata class="container shell">
  <div [@flexComment]="state" class="say-flex-item card">
    <img class="img-circle" src="https://livedemo00.template-help.com/landing_61133/images/user-alex-ross-80x80.jpg" height="80" width="80" />
    <div class="comment-wrap">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
      <p class="comment">
        <q>This is an amazing app. Once I installed it, I was able to manage every aspect of successfully running my business.</q>
      </p>
    </div>
    <a href="#">
      <cite>ALEX ROSS</cite>
    </a>
    <p>CEO/Founder at demolink.org</p>
  </div>

  <div [@flexComment]="state" class="say-flex-item card">
    <img class="img-circle" src="https://livedemo00.template-help.com/landing_61133/images/user-alisa-milano-80x80.jpg" height="80" width="80" />
    <div class="comment-wrap">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
      <p class="comment">
        <q>When you work with customers, it is very important to pay attention to their every wish. With your app it became
          possible!</q>
      </p>
    </div>
    <a href="#">
      <cite>ALISA MILANO</cite>
    </a>
    <p>Sales Manager at demolink.org</p>
  </div>

  <div [@flexComment]="state" class="say-flex-item card">
    <img class="img-circle" src="https://livedemo00.template-help.com/landing_61133/images/user-philip-more-80x80.jpg" height="80" width="80" />      
    <div class="comment-wrap">
      <i class="fa fa-quote-right" aria-hidden="true"></i>
      <p class="comment">
        <q>Your app allowed me to take care of every side of the projects I’m currently working on. It is a perfect assistance
          tool!
        </q>
      </p>
    </div>
    <a href="#">
      <cite>PHILIP MORE</cite>
    </a>
    <p>Developer at demolink.org</p>
  </div>

</section>