<section class="container shell">
  <h2>Our Key Features</h2>
  <div class="feature-flex-wrap">
    <div class="feature-flex-item">
      <i class="fa fa-user-secret" aria-hidden="true"></i>
      <h6>SECURE DATA</h6>
      <p>Transfer all information with the help of SSL - a solution allowing you to save any data from the public eye.</p>
    </div>
    <div class="feature-flex-item">
      <i class="fa fa-files-o" aria-hidden="true"></i>
      <h6>NETWORK WORKFLOW</h6>
      <p>Network Workflow feature will let you build, organize, and develop a sustainable network in seconds.</p>
    </div>
    <div class="feature-flex-item">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      <h6>TOP RATING PRODUCT</h6>
      <p>Our app has won numerous awards from leading high-tech mass media and received worldwide recognition.</p>
    </div>
  </div>
</section>