.contact-form {
    display: block;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  input:disabled {
      background-color: gray;
  }

  @media (max-width: 770px) { 
    .address > p:nth-child(even) {
        display: inline-block;    
     }
    .address > p:nth-child(odd) {
       display: inline-block;    
    }
  }

  