<div class="container masthead clearfix">
  <div class="inner">
    <!-- <h3 class="masthead-brand">Cover</h3> -->
    <img class="masthead-brand" src="assets/logo.png" height="80">
    <nav class="nav nav-masthead">
      <a class="nav-link" routerLink="home" [routerLinkActive]="['active']">Home</a>
      <a class="nav-link" routerLink="gallery" [routerLinkActive]="['active']">Gallery</a>
      <a class="nav-link" routerLink="contact" [routerLinkActive]="['active']">Contact</a>
    </nav>
  </div>
</div>